extends layout.pug 
block content 
    h1 je suis la

//- <!DOCTYPE html>
//- html
//-     head 
//-         title Beau Site 
//-     body 
//-         h1 Hello tout le monde !
//-         div(class = ['class1', 'class2', 'class3'] id = 'id123')
//-             p(style = {color : 'red', background : 'green' }) je suis dans la div
//-         a(href='google.fr') Google
//-         .container
//-             .content
//-             p #{name}
//-             p= name
//-             if authenticated
//-                 p je suis connecté
//-             else 
//-                 p je ne suis pas connecté
//-             case friends
//-                 when 0
//-                     span you have no friend
//-                 when 1
//-                     span you have one friend
//-                 default
//-                     span you have #{friends} friends
//-             each product in products 
//-                 .product 
//-                     h4= product.title
//-                     p #{product.content}
//-         style.
//-             .test{
//-                 font-size: 20px;
//-             }
//-             a{
//-                 text-decoration: none;
//-             }
//-         script.
//-             console.log('hello')