<div style = 'width: 100%; height: 75px;background: lightgreen;'>
    Ma super topbar
</div>

<!-- <html>    // config pour index.ejs
  <head>
    <title>Mon super titre !</title>
  </head>

  <body>
      <%- include('topbar') -%>
    <h1>hello word <%= name%></h1>
    <% if (authenticated) { %>
        <h1>Je suis connecté</h1>
    <% } else { %>
<h1>Je ne suis pas connecté</h1>
    <% } %>

    <% products.forEach(function(product) { %>
        <div class="'product">
            <h1><%= product.title %></h1>
            <p><%= product.content %></p>
        </div>
    <% } ) %>
  </body>
</html> -->
